@import "tailwindcss";

@theme {
  /* ------- colors ------- */
  --color-primary: #27272a;
  --color-secondary: #65656d;
  --color-tertiary: #acacb4;
  --color-quaternary: #e4e4e7;
  --color-white: #fff;
  --color-link: #14b8a6;
  --color-body: #fafafa;


  /* -----------fonts----------- */
  --font-primary: "Heebo", "sans-serif";
  --font-secondary: "Roboto", "sans-serif";
}
